/* Sidebar.css */

/*.sidebar {*/
/*    width: 200px;*/
/*    background-color: #f5f5f5;*/
/*    padding: 10px;*/
/*    border-right: 1px solid #bdc3c7;*/
/*}*/

/*.all-types {*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    margin-bottom: 10px;*/
/*    color: #2c3e50;*/
/*}*/

/*.types-list {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.type {*/
/*    cursor: pointer;*/
/*    padding: 10px;*/
/*    border: 1px solid #ddd;*/
/*    margin-bottom: 5px; !* Добавьте отступ между элементами *!*/
/*    display: block; !* Или display: flex, в зависимости от вашего дизайна *!*/
/*}*/

/*.type:hover {*/
/*    background-color: #f2f2f2;*/
/*}*/


.sidebar {
    margin-top: 55px;
    background-color: #2c3e50;
    color: #ecf0f1;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

.sidebar h2 {
    padding: 20px;
    margin: 0;
    font-size: 1.5rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar li:hover,
.sidebar li.selected {
    background-color: #34495e;
}

.show-sidebar {
    transform: translateX(0);
}

@media screen and (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }
}
